<% content_for :title, @quest.name %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center mb-6">
    <h1 class="font-bold text-3xl">Quest Details</h1>
    <div>
      <%= link_to "Back", quests_path, class: "rounded-md px-3 py-2 bg-gray-100 hover:bg-gray-50 font-medium" %>
    </div>
  </div>

  <%= render "quest_detail", quest: @quest %>

  <%= button_to "Delete Quest", @quest, method: :delete, class: "mt-4 w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure you want to delete this quest?" } %>
</div>
